@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../assets/fonts/GeistMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("../assets/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("../assets/fonts/InstrumentSerif-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: "Geist", sans;
  --font-serif: "Instrument Serif", serif;
  --font-mono: "Geist Mono", sans;

  --color-default-50: oklch(0.985 0 0);
  --color-default-100: oklch(0.967 0.001 286.375);
  --color-default-200: oklch(0.92 0.004 286.32);
  --color-default-300: oklch(0.871 0.006 286.286);
  --color-default-400: oklch(0.705 0.015 286.067);
  --color-default-500: oklch(0.552 0.016 285.938);
  --color-default-600: oklch(0.442 0.017 285.786);
  --color-default-700: oklch(0.37 0.013 285.805);
  --color-default-800: oklch(0.274 0.006 286.033);
  --color-default-900: oklch(0.21 0.006 285.885);
  --color-default-950: oklch(0.141 0.005 285.823);

  --color-primary-50: oklch(0.97 0.014 254.604);
  --color-primary-100: oklch(0.932 0.032 255.585);
  --color-primary-200: oklch(0.882 0.059 254.128);
  --color-primary-300: oklch(0.809 0.105 251.813);
  --color-primary-400: oklch(0.707 0.165 254.624);
  --color-primary-500: oklch(0.623 0.214 259.815);
  --color-primary-600: oklch(0.546 0.245 262.881);
  --color-primary-700: oklch(0.488 0.243 264.376);
  --color-primary-800: oklch(0.424 0.199 265.638);
  --color-primary-900: oklch(0.379 0.146 265.522);
  --color-primary-950: oklch(0.282 0.091 267.935);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  /* Prevent mobile touch swimming behaviors */
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

.wrapper {
  @apply px-4 md:px-0;
}
