<ul class="flex gap-4 items-center wrapper">
    <li>
        <p class="text-xs text-default-500">© 2026, Krzysztof Musiał</p>
    </li>
    <li class="ml-auto">
        <a href="/" class="text-xs hover:underline">GitHub</a>
    </li>
    <li>
        <a href="/" class="text-xs hover:underline">LinkedIn</a>
    </li>
</ul>
