<footer>
    <ul class="flex gap-4 items-center wrapper">
        <li>
            <p class="text-xs text-default-500">© 2026, Krzysztof Musiał</p>
        </li>
        <li class="ml-auto">
            <a href="https://github.com/musialsh" class="text-xs hover:underline" aria-label="GitHub Profile" title="GitHub Profile" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/musialsh/" class="text-xs hover:underline" aria-label="LinkedIn Profile" title="LinkedIn Profile" target="_blank">LinkedIn</a>
        </li>
    </ul>
</footer>
