---
import ThemeToggle from "./ThemeToggle.astro";
---

<header
    class="wrapper flex flex-col-reverse md:flex-row gap-2 items-start md:justify-between"
>
    <div class="w-full">
        <div class="flex items-center justify-between gap-4 w-full">
            <h1 class="font-medium">Krzysztof Musiał</h1>
            <ThemeToggle />
        </div>
        <h2 class="text-sm text-default-500">
            Software Developer • BSc in Computer Science
        </h2>
    </div>
</header>
