<header
    class="wrapper flex flex-col-reverse md:flex-row gap-2 items-start md:justify-between"
>
    <div>
        <h1 class="font-medium">Krzysztof Musiał</h1>
        <h2 class="text-sm text-default-500">
            Software Developer • BSc in Computer Science
        </h2>
    </div>
    <div
        class="text-[9px] font-semibold text-default-500 uppercase px-2 py-1 border border-default-300 rounded-full"
    >
        Open for work
    </div>
</header>
