---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Software Developer • BSc in Computer Science">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <title>Krzysztof Musiał • Software Developer</title>
    </head>
    <body>
        <main class="w-full max-w-185 mx-auto py-4 md:py-16 space-y-8">
            <slot />
        </main>
    </body>
</html>
