---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Software Developer • BSc in Computer Science">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <title>Krzysztof Musiał • Software Developer</title>
        <script is:inline>
            if (
                localStorage.getItem("color-theme") === "dark" ||
                (!("color-theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.setAttribute("data-theme", "dark");
            } else {
                document.documentElement.setAttribute("data-theme", "light");
            }
        </script>
    </head>
    <body class="bg-default-50 dark:bg-default-900 text-default-800 dark:text-default-100">
        <main class="w-full max-w-185 mx-auto py-4 md:py-16 space-y-8 ">
            <slot />
        </main>
    </body>
</html>
